@import url("reset.css");

:root {
  --color1: #f54c00;
  --color2: #ff9600;
  --color3: #f44ea3;
  --color4: #c71afd;
  --color5: #4941f8;
  --color6: #009ae4;
}

/* -------------------------------- COLOR VARIABLES END -------------------------------- */

/* -------------------------------- UTILITY CLASSES -------------------------------- */

.center {
  display: flex;
  justify-content: center;
}

.block-text {
  display: block;
}

.img-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.divider {
  height: 4vh;
  width: auto;
}


/* -------------------------------- MARQUEE ANIMATION -------------------------------- */

.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.scroll-animation .marquee__content {
  animation: scroll 35s linear infinite;
}

/* -------------------------------- MARQUEE ANIMATION END -------------------------------- */

html {
  font-family: "Inter", sans-serif;
}

body {
  /* CALCULATES BASE FONT SIZE */
  /* USE REM TO EDIT FONT SIZE */
  font-size: calc(15px + 0.390625vw);

  background: repeating-conic-gradient(
      var(--color1) 0% 25%,
      var(--color2) 0% 50%
    )
    50% / 20px 20px;
  background-size: 50px 50px;
  background-position: 0 0, 50px 50px;
  animation: slideAnimation 15s linear infinite;
}

/* BACKGROUND ANIMATION */
@keyframes slideAnimation {
  0% {
    background-position: 0 0, 50px 50px;
  }

  100% {
    background-position: 100px 100px, 150px 150px;
  }
}

/* -------------------------------- HEADING SECTION -------------------------------- */

#header {
  min-height: 12vh;
  background-color: var(--color5);
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-weight: 999;
  color: var(--color2);
  font-size: 4rem;
  text-shadow: 1px 1px 2px;
  
}

#sub-header {
  min-height: 6vh;
  background-color: var(--color6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-header-text {
  color: var(--color4);
}

.hamburger-icon {
  height: 20px;
  width: auto;
}

.shopping-cart-icon {
  height: 27px;
  width: auto;
}

/* -------------------------------- HERO SECTION -------------------------------- */

.hero-container {
  width: auto;
  height: 50vh; 
  overflow: hidden;
  z-index: 1;
  position: relative;
}

img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.hero-sliders {
  width: 100vw; 
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: absolute;
  top: 46%
}

.slider-icon-left {
  margin: 2%;
  height: 40px;
  width: auto;
}

.slider-icon-right {
  margin: 2%;
  height: 40px;
  width: auto;
}

//

.hero-content {
  width: 50%;
}

.hero-content-text {
  font-size: 2rem;
  font-weight: 999;
  color: var(--color1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} 


.hero-text-container {
  position: absolute;
  top: 37%; 
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.hero-btn-container {
  position: absolute;
  top: 55%; 
  z-index: 2;
  display: flex; 
  justify-content: center;
  width: 100vw;
}


.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--color5);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--color2);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.button-5:hover,
.button-5:focus {
  background-color: var(--color5);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  background-color: var(--color6);
  transform: translateY(-1px);
}

.button-5:active {
  background-color: var(--color6);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* -------------------------------- SECTION HEADING BANNER -------------------------------- */

.section-heading-container {
  font-size: 2.9rem;
  font-weight: 999;
  color: var(--color2);
  text-shadow: 1px 1px 2px;
  text-align: center;
}

.section-heading-text {
  background-color: var(--color5);
}

/* -------------------------------- SHOP CARD COMPONENT -------------------------------- */


.cards-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  padding-top: 10%;
}


.card-img-container {
  height: 30vh;
  width: 60vw; 
  overflow: hidden;
  border-radius: 3px;
}

.card-img-container img {
 box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.card-text-container {
  height: auto;
  width: 200px;
  background-color: var(--color4);
  position: absolute;
  top: 40%; 
  left: 35%;
  border-radius: 3px;
  padding: 5%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.card-btn {
  margin-top: 7%;
}

.card-title-text {
  color: var(--color2);
  font-weight: 999;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-skip: ink;
  text-underline-position: under;
}

.card-body-text {
  color: var(--color2);
  font-size: 1rem;
}


/* -------------------------------- SHOP CARD COMPONENT -------------------------------- */

/* -------------------------------- LEARN MORE -------------------------------- */

.learn-img-container {
  height: 50vh;
  width: 95vw; 
  overflow: hidden;
  border-radius: 3px;

}

.learn-card {
  margin-top: 2%;
}

.learn-card-container {
  position: relative;
}

.learn-text {
  font-size: 2rem;
  font-weight: 999;
  color: var(--color1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.learn-text-container {
  position: absolute;
  top: 50%;
  left: 10%;
}

/* -------------------------------- FOOTER SECTION -------------------------------- */

.footer {
  margin-top: 4%;
  background-color: var(--color5);
  height: 50vh;
  width: auto;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.mailing-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh; 
}

.mailing-list-btn {
  background-color: var(--color4)
}

.form-input {
  background-color: var(--color4);
  border-radius: 3px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
  padding: 6px;
  /* Add more styles as needed */
}

.footer-text {
  font-size: 1rem;
  font-weight: 999;
  color: var(--color2);
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  text-align: center;
}

.footer-text-header {
  font-size: 1.5rem;
  font-weight: 999;
  color: var(--color2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center; 
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-skip: ink;
  text-underline-position: under;
}

.socials-container {
  margin-top: 5%;
}

.social-icon {
  height: 6vh;
  width: auto;
}

.icons-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  gap: 3%;
}
